snippet vi "AutoHotkey Version Info Definition" b
G_VERSION_INFO := {NAME: "${1:app-name} version ${2:1.0}", ARCH: "${3:x64}", BUILD: "`echo %date:~-4%%date:~3,2%%date:~0,2%_%time:~0,2%%time:~3,2%%time:~6,2%`"}
endsnippet
